aio-timers==0.0.1
aiocron==1.3
aiogram==2.6.1
aiograph==0.2
aiohttp==3.5.4
async-timeout==3.0.1
attrs==19.1.0
Babel==2.7.0
beautifulsoup4==4.8.0
bs4==0.0.1
certifi==2019.6.16
cffi==1.13.2
chardet==3.0.4
croniter==0.3.30
cryptg==0.2.post0
DateTime==4.3
decorator==4.4.1
-e git://github.com/drforse/dic_academic_api.git@b4c14d56d2652819c0ed240c6f93e71bd7fb1335#egg=dic_academic_api
dicttools==0.0.1
dnspython==1.16.0
idna==2.8
imageio==2.6.1
imageio-ffmpeg==0.3.0
importlib-resources==1.0.2
lxml==4.5.0
multidict==4.5.2
numpy==1.18.1
opencv-python-headless==4.2.0.32
Pillow==7.0.0
proglog==0.1.9
pyaes==1.6.1
pyasn1==0.4.7
pycparser==2.19
pymongo==3.8.0
python-dateutil==2.8.1
pythonping==1.0.8
pytz==2019.1
requests==2.22.0
rsa==4.0
six==1.12.0
soupsieve==1.9.2
Telethon==1.10.8
timezonefinder==4.1.0
tqdm==4.42.1
tzlocal==1.5.1
urllib3==1.25.3
webencodings==0.5.1
yarl==1.3.0
zope.interface==4.6.0
